:root{
	--background-color: rgb(1,21,45);
	--nav-color: rgb(16,107,136);
}

body {
	color:white;
	font-family: "Roboto", sans-serif ;
	margin: 0px;
	background-color: var(--background-color);
}

h1{
	font-size: 90px;
}

h2{
	font-size: 50px;
}

#navbar{
	background-position-x: 0%;
	background-position-y: 0%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--nav-color);
	padding: 25px;
	font-size: 25px;
	margin: 0px;
}

#navbar ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#navbar ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#navbar > .nav-login {
	width: max(30vw, 400px)
}

#navbar .nav-user ul{
	width: 240px;
}


#nav-nologin ul{
	display: flex;
	justify-content: space-between;
	width: 200px;
}


#navbar img {
	border-radius: 50px;
	width: 2em;
	margin-right:10px;
}


.navbar-item{
	margin-left: 25px;
	margin-right: 25px;
}

a {
	color: white;
}

a:visited, a:link, a:active a:hover { 
	text-decoration: none; 
} 

a:hover {
	color: var(--background-color);
}

a:active { 
	text-decoration: none; 
}

