:root{
	--background-color: rgb(1,21,45);
	--nav-color: rgb(16,107,136);
}

body {

	font-family: "Roboto", sans-serif ;
	margin: 0px;
	background-color: var(--background-color);
	transform: translate(-5%, -5%);
	display: flex;
	f
}


button{
	border-style: solid;
	border-width: 0px;
	border-radius: 10px;
	color: white
}

button:hover,
input[type="submit"]:hover {
	box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

h1{
	font-size: 90px;
}

h2{
	font-size: 50px;
}

#navbar{
	background-position-x: 0%;
	background-position-y: 0%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--nav-color);
	padding: 25px;
	font-size: 25px;
	margin: 0px;
}

#navbar ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#navbar ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#navbar > .nav-login {
	width: max(30vw, 400px)
}

#navbar .nav-user ul{
	width: 240px;
}


#nav-nologin ul{
	display: flex;
	justify-content: space-between;
	width: 200px;
}


#navbar img {
	border-radius: 50px;
	width: 2em;
	margin-right:10px;
}


.navbar-item{
	margin-left: 25px;
	margin-right: 25px;
}

a {
	color: white;
}

a:visited, a:link, a:active a:hover {
	text-decoration: none;
}

a:hover {
	color: var(--background-color);
}

.layer-1{
	background-color:var(--nav-color);
	border-radius: 20px;
	margin: 0;
}

.layer-2{
	background-color:var(--background-color);
	border-radius: 20px;
}

.container{
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.col-list {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
	margin: 2em;
	width: 35vw;
	font-size: 48px;
}

@media (max-width: 200px){
	.col-list {
		font-size: 60px;
	}
}

@media (max-width: 576px){
	.col-list {
		font-size: 10px;
	}
	.layer-1{
		min-width: 100vw;
		margin: 0px;
	}
	.secondary-sign-btn{
		min-width: 100vw;
	}
}

@media (max-width: 800px){
	.col-list {
		font-size: 18px;
		min-width: 50vw;
		padding-left:60px
	}
	.menu-item {
		flex-direction: column;
		align-items: flex-start;
	}
}

@media (max-width: 992px){

	h1{
		font-size: 70px;
	}

	h2{
		font-size: 50px;
	}

	.container{
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		align-content: center;;
		padding-left:20px;
		padding-right: 20px;
	}
	.col-list {
		font-size: 22px;
		min-width: 80vw;
		margin: 0.5em
	}


	.menu-item > input{
		display: block;
		width: 90%
	}

	.menu-item > input{
		display: block;
		text-align: left;
	}
}

@media (max-width: 1200px){
	.col-list {
		font-size: 28px;
	}
}

@media (max-width: 1400px){
	.col-list {
		font-size: 38px;
		width: 45vw;
	}
}

@media (max-width: 1780px){
	.col-list {
		font-size: 45px;
		width: 50vw;
	}
}

.list-body {
	margin: 0px;
	padding-left: 1em;
	padding-right: 1em;
}

.placement-card {
	background-color: var(--background-color);
	border-radius: 1em;
	display: grid;
	grid-column-gap: 1em;
	grid-template-columns: 2fr 2fr 1fr;
	grid-template-rows: 1fr;
	margin: 2vh;
	margin-left:1.5vw;
	margin-right: 1.5w
}

.placement-card > * {
	display: flex;
}

.placement-card .user-img {
	justify-content: space-around;
	border-radius: 0.2em;
	grid-column: 1/2;
	grid-row: 1/4;
	margin: 0.7em;
	margin-top: 1.35em;
	width: 2.5em;
}

.placement-card .medal-img {
	align-items: center;
	justify-content: center;
	align-content: center;
	grid-column: 3/4;
	grid-row: 2/4;
	width: 1.8em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 1em;
	margin-left:2em
}

.placement-card .placement {
	grid-column: 2/4;
	font-size: 0.7em;
	margin-top: 1em;
}

.placement-card .user {
	align-items: center;
	grid-column: 2/4;
	grid-row: 2/3;
	font-size: 0.6em;
	margin-bottom:0px;
	margin-top:10px;
}

.placement-card .wins {
	align-items: center;
	grid-column: 2/4;
	grid-row: 3/4;
	font-size: 0.4em;
	margin-top: 0px;
	margin-bottom: 1em
}

.victory-wreath {
	justify-content: space-around;
	grid-column: 1/2;
	grid-row: 1/4;
	margin-left: 0.2em;
	margin-top: 1.1em;
	width: 3.5em;
}

.welcome > *{

	display:flex;

	&:nth-child(1){
		justify-content: flex-start;
	}


	&:nth-child(2){
		justify-content: flex-end;
	}
}

.accept-btn {
	background-color: var(--accept-color);
	padding: 0.9rem 2.1em;
	border-radius: 0.6em;
	border-width: 0px;
	font-size: 1em;
	font-weight: bold;
}

.decline-btn {
	background-color: var(--background-color);
	padding: 0.8rem 2em;
	border-radius: 0.6em;
	font-size: 1em;
	color:white;
	font-weight: bold;
	border-color: var(--decline-color);
	border-style: solid;;
	border-width: 3px;
}

.menu {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 60vw;
	max-width: 650px;
	font-weight: bold;
	margin: 20px 20vw;
}

.layer-1 form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menu-item{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

input {
	box-sizing: border-box;
	letter-spacing: 1.5px;
	border-radius: 10px;
	border-style: solid;
	border: 0px;
	margin: 0.5em;
	font-size: 1.6em;
	width: 60%;
	padding: 0.2em 0.5em;
}

form input[type="text"],
input[type="password"]{
	outline-color: var(--background-color);
}

label {
	font-size: 1.2em;
}

form > div:not(.menu-item){
	width: 100%;
}

.primary-sign-btn {
	width: 100%;
	border-width: 5px;
	border-radius: 0.6em;
	border-color: white;
	border-style: solid;
	background-color: var(--nav-color);
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	padding: 2em 2em;
	margin: 2em 0em;
}

.secondary-sign-btn {
	width: 100%;
	border-width: 5px;
	border-radius: 0.6em;
	border-color: white;
	background-color: var(--background-color);
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	padding: 2em 2em;
	margin: 2em 0em;
}

.check-btn{
	border-radius: 10px;
	height: 2.5em;
	width: 5em;
	background-color: var(--accept-color);
}

.check-btn img{
	height: 70%;
}

.x-btn{
	border-radius: 10px;
	height: 2.5em;
	width: 5em;
	background-color: var(--decline-color);
}

.x-btn img{
	height: 70%;
	position: relative;
	top: 2px;
}

.add-btn{
	border-radius: 10px;
	height: 3em;
	width: 3em;
	background-color: var(--background-color);
}

.add-btn img{
	height: 70%;
	position: relative;
	top: 1px;

}

.remove-btn{
	border-radius: 10px;
	height: 3em;
	width: 3em;
	background-color: var(--background-color);
}

.remove-btn img{
	height: 70%;
	position: relative;
	top: 1px;
	left: 0.1px;
}



