<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script type="importmap">
			{
				"imports": {
					"three": "https://cdn.jsdelivr.net/npm/three@0.161.0/build/three.module.js",
					"jsm/": "https://cdn.jsdelivr.net/npm/three@0.161.0/examples/jsm/"
				}
			}
		</script>
		<style>
			body {
				margin: 0;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<main></main>
		<script type="module" src="pong_trial.js"></script>
	</body>
</html>
