<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../../../css/styles.css">
</head>
<body>
	<main>
		<section class="play-stats bg-secondary">
			<h3>Statistics</h3>
			<ul class="stat-list row-scroll">
				<li class="stat-item bg-primary">
					<h4 class="game-name">Game 1</h4>
					<div class="highscore">Highscore: <span>1000</span></div>
					<div class="wins">Won <span>1000</span> times</div>
					<div class="games-played">Played <span>1000</span> times</div>
				</li>
				<li class="stat-item bg-primary">
					<h4 class="game-name">Game 2</h4>
					<div class="highscore">Highscore: <span>1000</span></div>
					<div class="wins">Won <span>1000</span> times</div>
					<div class="games-played">Played <span>1000</span> times</div>
				</li>
				<li class="stat-item bg-primary">
					<h4 class="game-name">Game 3</h4>
					<div class="highscore">Highscore: <span>1000</span></div>
					<div class="wins">Won <span>1000</span> times</div>
					<div class="games-played">Played <span>1000</span> times</div>
				</li>
			</ul>
		</section>
	</main>
</body>
</html>